*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	
}

.r1p1{
	width: 100%;
	background: #c177ff;
	height: 125px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 40px;
}

.other-link{

}
.r1p2{

}
.r2p1{
	text-align: center;
	margin: 300px auto auto auto;
	font-size: 50px;
}

.png1{
	width: 200px;
	margin: auto auto auto 30px;
}